.about-project__bar-subtitle {
  margin: 0;
  position: absolute;
  top: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

@media screen and (max-width: 585px) {
  .about-project__bar-subtitle {
    font-size: 11px;
    line-height: 13px;
  }
}
