.profile__input {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #fff;
}

.profile__input:focus {
  outline: solid 1px #4285F4;
}
