.footer__info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #424242 1px solid;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
