.header__navbar-btn {
  margin-right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  opacity: 1;
  transition: all 150ms ease-out;
  text-decoration: none;
}

.header__navbar-btn:last-of-type {
  margin-right: 0;
}

.header__navbar-btn:hover {
  opacity: .75;
}
