.movie-card__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 19px;
  display: flex;
  align-items: flex-end;
  border-top: 1px solid #424242;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
}

@media screen and (max-width: 475px) {
  .movie-card__info {
    font-size: 10px;
    line-height: 12px;
  }
}
