.about-me__social-links {
  margin: 100px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media screen and (max-width: 768px) {
  .about-me__social-links {
    margin-top: 87px;
  }
}

@media screen and (max-width: 700px) {
  .about-me__social-links {
    margin-top: 40px;
  }
}
