.search-form__search-options {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

@media screen and (max-width: 1190px) {
  .search-form__search-options {
   margin-top: 37px;
  }
}

@media screen and (max-width: 675px) {
  .search-form__search-options {
    margin-top: 45px;
  }
}
