.content {
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 70px;
  flex: 1 0 auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 30px;
  }
}

@media screen and (max-width: 675px) {
  .content {
    padding: 0 14px;
  }
}
